@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

:root {
  /* primary */
  --violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--violet);
  background-image: url(images/bg-desktop.svg);
}
.photo {
  padding: 10px;
  color: white;
  margin-right: -20px;
  /* margin: 10px -20px 0 0; */
  font-weight: 600;
  /* border: 2px solid black; */
}
.about {
  width: 35rem;
  margin-top: -90px;
  margin-left: 80px;
  padding: 10px 10px 10px 50px;
  color: white;
  font-family: Open Sans;
  /* border: 2px solid black; */
}
p {
  padding-top: 20px;
  font-weight: 400;
  font-family: poppins, sans-serif;
  line-height: 1.3rem;
  letter-spacing: 0.6px;
}
.button {
  margin: 20px 10px 10px 0;
  border: 2px solid var(--violet);
  border-radius: 25px;
  height: 3rem;
  width: 11rem;
  color: var(--violet);
}
.photo-heading {
  letter-spacing: 0.6px;
  line-height: 2.5rem;
  font-family: Poppins, sans-serif;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.about-heading {
  letter-spacing: 0.6px;
  line-height: 3rem;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
